/**
* Google Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');


/**
* Global styles
*/
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: url(./candyhearts.jpg) no-repeat center center fixed;
  	background-size: cover;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 16px;
  	color: #696969; /* Dimgray */
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

fieldset {
	border: none;
}

/**
* Flexbox
*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.flex-item {

}

/**
* Header
*/

.header-content {
	margin: 5px 25px;
	justify-content: space-between;
}

.header-brand {

}

.header-logo {
	color: rgba(255,20,147,0.7);
}

.header-social {
}

.header-social-link {
	cursor: pointer;
}

.header-social-img {
	padding-top: 7px;
	width: 150px;
}

/**
* Match Card
*/

.match-card {
	background: rgba(255,255,255,0.8); /* Blue #0099cc */
	width: 81%;
	margin: 50px auto;
	padding: 40px 20px;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px #f1f1f1;
	text-align: center;
}

/**
* Match Card Form
*/

.match-form {
	padding: 20px 15px 0;
	font-size: 1.1em;
}

.match-form input[type=radio]{
	margin: 0 0.2em 0 1em;
	height: 15px;
}

.match-form-person,
.match-form-partner {
	margin-top: 1em;
	width: 100%;
 	line-height: 1.5em;
 	font-size: 0.9em;
}

.match-form-relationship-status {
	margin-top: 1em;
	width: 100%;
	line-height: 1.5em;
 	font-size: 0.9em;
}

.match-form-title {
 	text-align: center;
 	margin-bottom: 0.7em;
}
.match-form-subtitle {
 	padding-right: 8px;
}

.match-form-section {
	margin-bottom: 0.8em;
}

.match-form-label {
}

.match-form-select {
	margin: 5px;
	height: 30px;
	font-size: 0.9em;
}

.match-form-button {
	width: 100%;
	margin-top: 30px;
}

.match-from-submit {
	background-color: rgba(0,153,204,0.7);
	color: white;
	font-size: 1.1em;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0 #ccc;
}

/**
* Media Queries
*/

@media screen and (min-width: 420px){
	.dob-match-card {
		width: 76%;
	}
}

@media screen and (min-width: 670px){
	.dob-match-card {
		width: 71%;
	}
}

@media screen and (min-width: 830px){
	.dob-match-card {
		width: 66%;
	}
	.match-form-person,
	.match-form-partner {
		width: 50%;
	}
}

@media screen and (min-width: 970px){
	.dob-match-card {
		width: 61%;
	}
}

@media screen and (min-width: 1130px){
	.dob-match-card {
		width: 56%;
	}
}

